<header>
    <div class="container">
        <div class="header_block">
            <div class="top_menu">
                <div class="logo">
                    <img src="img/logo---image.png" alt="No">
                    <i>lambda</i>
                </div>
                <nav class="menu_social clearfix">
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                </nav>
                <nav class="menu_navigation clearfix">
                    <a href="#">home</a>
                    <a href="#">about</a>
                    <a href="#">ingredients</a>
                    <a href="#">menu</a>
                    <a href="#">reviews</a>
                    <a href="#">reservations</a>
                </nav>
            </div>
            <div class="header_block_central">
                <div class="header_block_central_title">
                    <h1>the right ingredients<br> for the right food</h1>
                    <img src="pic/icons/decoration.png" alt="No">
                </div>
                <div class="header_block_bottom">
                    <bottom class="book">book a table</bottom>
                    <bottom class="menu">see the menu</bottom>
                </div>
            </div>
        </div>
    </div>
</header>