<section class="menu_block">
    <div class="container">
        <div class="menu">
            <div class="menu_chapter">
                <h2>appetisers</h2>
                <img src="pic/icons/gold.png" alt="No">
                <div class="menu_subblock">
                    <div class="menu_subblock_position clearfix">
                        <div class="name_price">
                            <h3>Tzatsiki</h3>
                            <p class="price">&#36;3.99</p>
                        </div>
                        <hr>
                        <p class="text">Refreshing traditional cucumber and garlic yoghurt dip.</p>
                    </div>
                    <div class="menu_subblock_position clearfix">
                        <div class="name_price">
                            <h3>aubergine salad</h3>
                            <p class="price">&#36;5.50</p>
                        </div>
                        <hr>
                        <p class="text">.Pureed eggplant, garlic, green pepper and tomato dip.</p>
                    </div>
                    <div class="menu_subblock_position clearfix">
                        <div class="name_price">
                            <h3>aubergine salad</h3>
                            <p class="price">&#36;5.25</p>
                        </div>
                        <hr>
                        <p class="text">Pureed eggplant, garlic, green pepper and tomato dip.</p>
                    </div>
                </div>
            </div>
            <div class="menu_chapter">
                <h2>salads</h2>
                <img src="pic/icons/gold.png" alt="No">
                <div class="menu_subblock">
                    <div class="menu_subblock_position">
                        <div class="name_price clearfix">
                            <h3>olive special</h3>
                            <p class="price">&#36;5.99</p>
                        </div>
                        <hr>
                        <p class="text">Refreshing traditional cucumber and garlic yoghurt dip.</p>
                    </div>
                    <div class="menu_subblock_position">
                        <div class="name_price clearfix">
                            <h3>greek salad</h3>
                            <p class="price">&#36;5.50</p>
                        </div>
                        <hr>
                        <p class="text">.Pureed eggplant, garlic, green pepper and tomato dip.</p>
                    </div>
                    <div class="menu_subblock_position">
                        <div class="name_price clearfix">
                            <h3>gusto salad</h3>
                            <p class="price">&#36;5.25</p>
                        </div>
                        <hr>
                        <p class="text">Pureed eggplant, garlic, green pepper and tomato dip.</p>
                    </div>
                </div>
            </div>
            <div class="menu_chapter">
                <h2>starters</h2>
                <img src="pic/icons/gold.png" alt="No">
                <div class="menu_subblock">
                    <div class="menu_subblock_position">
                        <div class="name_price clearfix">
                            <h3>haloumi</h3>
                            <p class="price">&#36;3.99</p>
                        </div>
                        <hr>
                        <p class="text">Refreshing traditional cucumber and garlic yoghurt dip.</p>
                    </div>
                    <div class="menu_subblock_position">
                        <div class="name_price clearfix">
                            <h3>spinach pie</h3>
                            <p class="price">&#36;5.50</p>
                        </div>
                        <hr>
                        <p class="text">.Pureed eggplant, garlic, green pepper and tomato dip.</p>
                    </div>
                </div>
            </div>
            <div class="menu_chapter">
                <h2>main dishes</h2>
                <img src="pic/icons/gold.png" alt="No">
                <div class="menu_subblock">
                    <div class="menu_subblock_position">
                        <div class="name_price clearfix">
                            <h3>cornish mackerel</h3>
                            <p class="price">&#36;5.99</p>
                        </div>
                        <hr>
                        <p class="text">Refreshing traditional cucumber and garlic yoghurt dip.</p>
                    </div>
                    <div class="menu_subblock_position">
                        <div class="name_price clearfix">
                            <h3>roast lamb</h3>
                            <p class="price">&#36;5.50</p>
                        </div>
                        <hr>
                        <p class="text">.Pureed eggplant, garlic, green pepper and tomato dip.</p>
                    </div>
                    <div class="menu_subblock_position">
                        <div class="name_price clearfix">
                            <h3>fried chicken</h3>
                            <p class="price">&#36;5.25</p>
                        </div>
                        <hr>
                        <p class="text">.Pureed eggplant, garlic, green pepper and tomato dip.</p>
                    </div>
                    <div class="menu_subblock_position">
                        <div class="name_price clearfix">
                            <h3>pastitsio</h3>
                            <p class="price">&#36;5.99</p>
                        </div>
                        <hr>
                        <p class="text">Refreshing traditional cucumber and garlic yoghurt dip.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>